--index-url https://download.pytorch.org/whl/cpu

llama-index-core
llama-index-readers-file
llama-index-embeddings-fastembed
fastembed
llama-index-llms-ollama
torch==2.1.2  # CPU version, adjust if GPU is needed
sentence-transformers
numpy

