QDRANT_API_KEY=
QDRANT_URL=

DATABASE_URL=
DATABASE_WRITE_AUTH_TOKEN=
DATABASE_READ_AUTH_TOKEN=

JWT_SECRET_KEY=
OPENROUTER_API_KEY=
OCR_MODEL_NAME=
REDIS_URL=
GOOGLE_SERVICE_ACCOUNT_JSON=
ALLOWED_ORIGINS=
